<%- include('partials/header'); -%>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <div>
    <p><strong>Name:</strong> <%= name %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Password:</strong> <%= password %></p>
  </div>

  <script>
   
  </script>
</body>
<%- include('partials/footer'); -%>
